body {
  margin: 0;
}

.main--container {
  display: flex;
}
@media screen and (max-width: 415px) {
  .main--container {
    display: block;
  }
  .main--container > div {
    margin: auto;
    width: 100vw;
    height: 36vh;
  }
 
}
@media screen and (max-width: 388px){

}
